
@media all and (min-width: 769px) {
    *{
        margin:0;
        padding:0;
        box-sizing: border-box;
    }
    
    *::before, *::after{
        box-sizing: border-box;
    }
    
    
    #effect{
        position: fixed;
        top:50px;
        right:50px;
    }
 
}

@media all and (max-width: 768px) {
    *{
        margin:0;
        padding:0;
        box-sizing: border-box;
    }
    
    *::before, *::after{
        box-sizing: border-box;
    }

    #html{
        height:50vh;
        position:fixed;
        top:0;
        overflow: auto;
    }
    
    #effect{
        height: 50vh;
        position: fixed;
        top: 75%;
        left: 50%;
        transform: translate(-50%,-50%) ;
    }
}